@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-background {
        background:
                linear-gradient(-90deg, rgba(255,255,255, .05) 1px, transparent 1px),
                linear-gradient(rgba(255,255,255, .05) 1px, transparent 1px),
                linear-gradient(-90deg, rgba(255,255,255, .04) 1px, transparent 1px),
                linear-gradient(rgba(255,255,255, .04) 1px, transparent 1px),
                linear-gradient(transparent 3px, #0d1226 3px, #0d1226 78px, transparent 78px),
                linear-gradient(-90deg, #aaa 1px, transparent 1px),
                linear-gradient(-90deg, transparent 3px, #0d1226 3px, #0d1226 78px, transparent 78px),
                linear-gradient(#aaa 1px, transparent 1px),
                #0d1226;
        background-size:
                4px 4px,
                4px 4px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px,
                80px 80px;
    }
    .solar-grid-overlay {
        position: relative;
    }

    .solar-grid-overlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:
                linear-gradient(90deg, rgba(255, 255, 255, 0.6) 2px, transparent 1px), /* white grid lines */
                linear-gradient(0deg, rgba(255, 255, 255, 0.6) 2px, transparent 1px); /* white grid lines */
        background-size: 20px 20px; /* Grid spacing */
        pointer-events: none; /* Ensure it doesn't block interactions */
    }
    .solar-bg-color {
        background-color: #313C8B;
    }
    .mini-map {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 8px;
        background-color: #f0f0f0;
    }

    .mini-map-preview {
        border: 2px solid black;
        background-color: rgba(0, 0, 0, 0.2);
    }
}